*{
    margin: 0;
    padding: 0;
}
.container{
    width: 100%;
    height:auto;
    background-color: #eaeaea;
}
.content{
    width:1320px;
    margin: 0 auto;
    overflow: hidden;
    padding: 60px;
    background-color: #fff;
}
.section1{
    width:1200px;
    
}
.section1 article{
    float: left;
    width:33.33%;
    box-sizing: border-box;
    padding-left:30px;
    position: relative;
    border-right:1px solid #ccc; 
    /* background-color: aqua; */
}
.section1 article:first-child{
    padding-left: 0;
}
.section1 article:last-child{
    border-right:none;
}
article .txt1{
    margin-top: 30px;
}

article .txt1 h3{
    padding-top: 20px;    
}
article .img1{
    width:100px; 
    position: absolute; 
    right:50px;
    bottom: 0px;  
}
article .img1 img{
    display: block;
    width:100%;
}