*{margin: 0;padding: 0;}
div{
    width: 1000px;
    height: 600px;
    /* position: relative; */
}
.area1{background: url(../images/work1.jpg) no-repeat;
    padding: 30px 0;
    margin-top: 200px;
    margin-left: 20px;
    opacity: 0;
    transition:all 0.4s;
}
.area1.on{
    opacity: 1;
    margin-top: 0;
}
.area2{background: url(../images/work2.jpg) no-repeat;
    padding: 30px 0;
    margin-top: 200px;
    margin-left: 20px;
    opacity: 0;
    transition:all 0.4s;
}
.area2.on{
    opacity: 1;
    margin-top: 0;
}
.area3{background: url(../images/work3.jpg) no-repeat;
    padding: 30px 0;
    margin-top: 200px;
    margin-left: 20px;
    opacity: 0;
    transition:all 0.4s;
}
.area3.on{
    opacity: 1;
    margin-top: 0;
}
.area4{background: url(../images/work4.jpg) no-repeat;
    padding: 30px 0;
    margin-top: 200px;
    margin-left: 20px;
    opacity: 0;
    transition:all 0.4s;}
    .area4.on{
        opacity: 1;
        margin-top: 0;
    }
.area5{background: url(../images/work5.jpg) no-repeat;
    padding: 30px 0;
    margin-top: 200px;
    margin-left: 20px;
    opacity: 0;
    transition:all 0.4s;}
    .area5.on{
        opacity: 1;
        margin-top: 0;
    }
.area6{background: url(../images/work6.jpg) no-repeat;
padding: 30px 0;
margin-top: 200px;
margin-left: 20px;
opacity: 0;
transition:all 0.4s;}
.area6.on{
    opacity: 1;
    margin-top: 0;
}